<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width:600px;Margin:0 auto">
          <table align="center" cellpadding="0" cellspacing="0"
            style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px">
            <tbody>
              <tr>
                <td style="text-align:justify;word-break:break-word">
                  <table style="margin-bottom:20px;width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <table style="width:100%;margin-bottom:20px" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>

                              <tr>
                                <td>
                                  <center>
                                    <table style="background-color:#fff;margin-bottom:20px;table-layout:fixed"
                                      align="center" width="" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <center>
                                              <img src="https://ttvip9108.com/img/logo.png" style="display:block"
                                                alt="logo" width="140" />
                                            </center>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </center>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <center>
                                    <table style="background-color:#fff;margin-bottom:20px;table-layout:fixed"
                                      align="center" width="" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <h1
                                              style="font-size:26px;line-height:30px;color:#054752;word-break:normal; padding:16px 24px; text-align:center">
                                              Background Check
                                            </h1>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </center>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <center>
                                    <table style="background-color:#fff;margin-bottom:20px;table-layout:fixed"
                                      align="center" width="" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <center>
                                              <% if (lang=='es' ) { %>
                                                Debe dirigirse a la policia de su localidad
                                              <% } else { %>
                                                You must go to the local police
                                              <% } %>
                                            </center>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <center>
                                              <% if (lang=='es' ) { %>
                                                O usar el siguiente link
                                              <% } else { %>
                                                Or use the following link
                                              <% } %>
                                              https://www.crimcheck.com
                                            </center>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <center>
                                              <% if (lang=='es' ) { %>
                                                Para realizar la
                                              <% } else { %>
                                                  To run the
                                              <% } %>
                                              <strong
                                                style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                                <%= lang && lang=='es' ? 'verificación de antecedentes'
                                                  : 'background Check ' %>
                                              </strong>
                                            </center>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </center>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <center>
                                    <table style="background-color:#fff;margin-bottom:20px;table-layout:fixed"
                                      align="center" width="" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <center>
                                              <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                                <%= lang && lang=='es' ? 'Pasos para realizar background check'
                                                  : 'Steps to run background check ' %>
                                              </strong>
                                            </center>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </center>
                                </td>
                              </tr>

                              <tr>
                                <td align="right" valign="top">
                                  <img width="180" src="http://placeimg.com/640/360/any">
                                </td>
                              </tr>

                              <tr>
                                <td align="left" valign="top">
                                  <img width="180" src="https://picsum.photos/640/360">
                                </td>
                              </tr>

                              <tr>
                                <td align="right" valign="top">
                                  <img width="180" src="http://placeimg.com/640/360/any">
                                </td>
                              </tr>

                            </tbody>
                          </table>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td>
                  <table width="100%" style="margin-bottom:20px;width:100%">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <div style="width:100%;height:1px;background-color:#ddd" color="#DDD" width="100%"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td style="text-align:center">
                  <table style="max-width:100%;width:100%;text-align:center;font-family:ArialMT,Arial,sans-serif"
                    cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="text-align:center">
                          <p
                            style="font-size:10px;color:#708c91;text-align:center;padding:0;margin-top:10px;margin-bottom:2px">
                            T&T Vip
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>