<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width:600px;Margin:0 auto">
          <table align="center" cellpadding="0" cellspacing="0"
            style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px">
            <tbody>
              <tr>
                <td style="text-align:justify;word-break:break-word">
                  <table style="margin-bottom:20px;width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <table style="width:100%;margin-bottom:20px" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>

                              <tr>
                                <td>
                                  <center>
                                    <table style="background-color:#fff;margin-bottom:20px;table-layout:fixed" align="center"
                                      width="" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                          <center>
                                            <img src="https://ttvip9108.com/img/logo.png"
                                            style="display:block"
                                            alt="logo"
                                            width="140"
                                            />
                                          </center>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </center>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <center>
                                    <table style="background-color:#fff;margin-bottom:20px;table-layout:fixed" align="center"
                                      width="" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <h1
                                            style="font-size:26px;line-height:30px;color:#054752;word-break:normal; padding:16px 24px; text-align:center">
                                            <% if (confirmLink) { %>
                                              <%= lang && lang=='es' ? 'Información Personal' : 'Personal Information'%>
                                            <% } else { %>
                                              <%= lang && lang=='es' ? 'Contactanos' : 'Contact Us'%>
                                            <% } %>
                                          </h1>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </center>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <% if (user.img) { %>
                                    <img 
                                    src="<%= user.img %>"
                                    style="display:block"
                                    alt="user - img"
                                    width="140"
                                    height="165"
                                    />
                                  <% } %>
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                    <%= lang && lang=='es' ? 'Nombre' : 'Name' %>:
                                    <%= user.name %>,
                                  </strong>
                                </td>
                              </tr>

                              <% if (user.lastname) { %>
                              <tr>
                                <td>
                                  <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                    <%= lang && lang=='es' ? 'Apellido' : 'Last name' %>:
                                    <%= user.lastname %>
                                  </strong>
                                </td>
                              </tr>
                              <% } %>

                              <tr>
                                <td>
                                  <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                    <%= lang=='es' ? 'Correo' : 'Email' %>: <%= user.email %>
                                  </strong>
                                </td>
                              </tr>

                              <% if (user.lastname) { %>
                              <tr>
                                <td>
                                  <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                    <%= lang=='es' ? 'Sexo' : 'Sex' %>:<%= user.sex %>
                                  </strong>
                                </td>
                              </tr>
                              <% } %>
                              <% if (user.age) { %>
                              <tr>
                                <td>
                                  <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                    <%= lang=='es' ? 'Edad' : 'Age' %>:<%= user.age %>
                                  </strong>
                                </td>
                              </tr>
                              <% } %>
                              <% if (user.phone) { %>
                                <tr>
                                  <td>
                                    <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                      <%= lang=='es' ? 'Telefono' : 'Phone' %>:<%= user.phone %>
                                    </strong>
                                  </td>
                                </tr>
                              <% } %>
                              <% if (user.address) { %>
                              <tr>
                                <td>
                                  <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                    <%= lang=='es' ? 'Dirección' : 'Address' %>:<%= user.address %>
                                  </strong>
                                </td>
                              </tr>
                              <% } %>
                              <% if (user.message) { %>
                              <tr>
                                <td>
                                  <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                    <%= lang=='es' ? 'Mensaje' : 'Message' %>: <%=  user.message %>
                                  </strong>
                                </td>
                              </tr>
                              <% } %>
                            </tbody>
                          </table>
                        </td>
                      </tr>

                      <% if (confirmLink) { %>
                      <tr>
                        <td>
                          <center>
                            <table style="background-color:#fff;margin-bottom:20px;table-layout:fixed" align="center"
                              width="" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567">
                                      <%= lang=='es' ? 'Enviar correo de' : 'Send email of' %> Background Check
                                    </strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </center>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <center>
                            <table style="background-color:#fff;margin-bottom:20px;table-layout:fixed" align="center"
                              width="" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                    <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;text-align: center;">
                                        <a href="<%= confirmLink %>" style="background: #00aff5; cursor: pointer; color: #FFF; text-decoration: none; padding: 15px; border-radius: 20px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.52);font-weight: bold;">
                                          <%= lang=='es' ? 'Enviar' : 'Send' %>
                                        </a>
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                          </center>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td>
                  <table width="100%" style="margin-bottom:20px;width:100%">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <div style="width:100%;height:1px;background-color:#ddd" color="#DDD" width="100%"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td style="text-align:center">
                  <table style="max-width:100%;width:100%;text-align:center;font-family:ArialMT,Arial,sans-serif"
                    cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="text-align:center">
                          <p
                            style="font-size:10px;color:#708c91;text-align:center;padding:0;margin-top:10px;margin-bottom:2px">
                            T&T Vip
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>