<head>
    <meta charset="utf-8" />
    <title>Invoice T&T vip</title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .invoice-box.rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .invoice-box.rtl table {
            text-align: right;
        }

        .invoice-box.rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://ttvip9108.com/img/logo.png" style="width: 100%; max-width: 100px" />
                            </td>

                            <td>
                                Invoice #: <%= ("000" + data.id).slice(-4) %><br />
                                    <%= ("0" + data.createdAt.getDate()).slice(-2) + '-' + ("0" +
                                        (data.createdAt.getMonth() + 1)).slice(-2) + '-' +
                                        (data.createdAt.getFullYear()) %><br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                T&T vip <br />
                                3270 W Trade Avenue Suite 10,<br />
                                Miami, FL 33133
                            </td>

                            <td>
                                +1 305 832-9058<br />
                                ttvip9108.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <% if (data.infoUser) { %>
            <tr class="details">
                <td colspan="2">
                    <table>
                        <tr class="item">
                            <td>
                                Billed to
                            </td> 
                        </tr>
                        <tr>
                            <td>
                                <%= data.infoUser.name + ' ' + data.infoUser.lastname %> <br />
                                <%= data.infoUser.address %> <br />
                                <% if (data.infoUser.referredBy) { %>
                                    Referred by <%= data.infoUser.referredBy %>
                                <% } %>
                            </td> 
                        </tr>
                    </table>
                </td>
            </tr>
            <% } %>

            <tr class="heading">
                <td>Item</td>

                <td>Price</td>
            </tr>

            <% if (data.items) { %>
                <% data.items.forEach(function(item,index){ %>
                    <tr class="item <%= data.items.length == (index + 1) ? 'last' : '' %>">
                        <td><%= item.description %></td>

                        <td>$<%= (item.price).toFixed(2) %></td>
                    </tr>
                <% }); %>
            <% } %>

            <tr class="total">
                <td></td>
                <td>Total: $<%= (data.total).toFixed(2) %>
                </td>
            </tr>
        </table>
    </div>
</body>